################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Debug/net8.0/Domain.assets.cache
/Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Domain/obj/Release/net8.0/Domain.AssemblyInfo.cs
/Domain/obj/Release/net8.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Release/net8.0/Domain.assets.cache
/Domain/obj/Release/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Release/net8.0/Domain.GlobalUsings.g.cs
/GameChronicles.Server/obj/Debug/net8.0/GameChronicles.Server.AssemblyInfo.cs
/GameChronicles.Server/obj/Debug/net8.0/GameChronicles.Server.AssemblyInfoInputs.cache
/GameChronicles.Server/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GameChronicles.Server/obj/Release/net8.0/GameChronicles.Server.AssemblyInfo.cs
/GameChronicles.Server/obj/Release/net8.0/GameChronicles.Server.AssemblyInfoInputs.cache
/GameChronicles.Server/obj/Release/net8.0/GameChronicles.Server.assets.cache
/GameChronicles.Server/obj/Release/net8.0/GameChronicles.Server.csproj.AssemblyReference.cache
/GameChronicles.Server/obj/Release/net8.0/GameChronicles.Server.GeneratedMSBuildEditorConfig.editorconfig
/GameChronicles.Server/obj/Release/net8.0/GameChronicles.Server.GlobalUsings.g.cs
/Repository/obj/Debug/net8.0/Repository.AssemblyInfoInputs.cache
/GameChroniclesAPI/GameChroniclesAPI/obj/Debug/net8.0/GameChroniclesAPI.AssemblyInfo.cs
/GameChroniclesAPI/GameChroniclesAPI/obj/Debug/net8.0/GameChroniclesAPI.AssemblyInfoInputs.cache
/GameChroniclesAPI/GameChroniclesAPI/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GameChroniclesAPI/GameChroniclesAPI/obj/Release/net8.0/GameChroniclesAPI.AssemblyInfo.cs
/GameChroniclesAPI/GameChroniclesAPI/obj/Release/net8.0/GameChroniclesAPI.AssemblyInfoInputs.cache
/GameChroniclesAPI/GameChroniclesAPI/obj/Release/net8.0/GameChroniclesAPI.assets.cache
/GameChroniclesAPI/GameChroniclesAPI/obj/Release/net8.0/GameChroniclesAPI.csproj.AssemblyReference.cache
/GameChroniclesAPI/GameChroniclesAPI/obj/Release/net8.0/GameChroniclesAPI.GeneratedMSBuildEditorConfig.editorconfig
/Repository/obj/Debug/net8.0/Repository.AssemblyInfo.cs
/Repository/obj/Debug/net8.0/Repository.assets.cache
/Repository/obj/Debug/net8.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
/Repository/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Repository/obj/Release/net8.0/Repository.AssemblyInfo.cs
/Repository/obj/Release/net8.0/Repository.AssemblyInfoInputs.cache
/Repository/obj/Release/net8.0/Repository.assets.cache
/Repository/obj/Release/net8.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
/Repository/obj/Release/net8.0/Repository.GlobalUsings.g.cs
/Service/obj/Debug/net8.0/Service.AssemblyInfo.cs
/Service/obj/Debug/net8.0/Service.AssemblyInfoInputs.cache
/Service/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Service/obj/Release/net8.0/Service.AssemblyInfo.cs
/Service/obj/Release/net8.0/Service.AssemblyInfoInputs.cache
/Service/obj/Release/net8.0/Service.assets.cache
/Service/obj/Release/net8.0/Service.GeneratedMSBuildEditorConfig.editorconfig
/Service/obj/Release/net8.0/Service.GlobalUsings.g.cs
/GameChroniclesAPI/GameChroniclesAPI/obj/Release/net8.0/GameChroniclesAPI.GlobalUsings.g.cs
/.vs/GameChronicles/FileContentIndex/1d28c752-cc3c-4513-853d-10a62cb8ecf1.vsidx
/.vs/GameChronicles/v17/.suo
/.vs/GameChronicles/v17/DocumentLayout.json

/GameChronicles.Server/obj/Debug/net8.0/GameChronicles.Server.csproj.AssemblyReference.cache
/Service/obj/Debug/net8.0/Service.AssemblyInfo.cs
/Service/obj/Debug/net8.0/Service.AssemblyInfoInputs.cache
/Service/obj/Debug/net8.0/Service.csproj.AssemblyReference.cache
/Core/bin
/GameChronicles.Server/bin
/Core/bin
/Core/bin/Debug
/Service/obj
/Repository/obj
/.vs
/.vs
/.vs/GameChronicles/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/gamechronicles.metadata.v7.bin
/.vs/ProjectEvaluation/gamechronicles.projects.v7.bin
/Service/obj/Release/net8.0/Service.AssemblyInfo.cs
/Service/obj/Release/net8.0/Service.AssemblyInfoInputs.cache
/Service/obj/Release/net8.0/Service.assets.cache
/Service/obj/Release/net8.0/Service.GeneratedMSBuildEditorConfig.editorconfig
/Repository/obj/Debug/net8.0/ref/Repository.dll
/Repository/obj/Debug/net8.0/refint/Repository.dll
/Repository/obj/Debug/net8.0/Repository.AssemblyInfo.cs
/Repository/obj/Debug/net8.0/Repository.AssemblyInfoInputs.cache
/Repository/obj/Debug/net8.0/Repository.csproj.AssemblyReference.cache
/Repository/obj/Debug/net8.0/Repository.dll
/Repository/obj/Debug/net8.0/Repository.pdb
/Repository/obj/Debug/net8.0/Repository.sourcelink.json
/Repository/obj/Release/net8.0/Repository.AssemblyInfo.cs
/Repository/obj/Release/net8.0/Repository.AssemblyInfoInputs.cache
/Repository/obj/Release/net8.0/Repository.assets.cache
/Repository/obj/Release/net8.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
/Service/bin/Debug/net8.0/Domain.dll
/Service/bin/Debug/net8.0/Domain.pdb
/Service/bin/Debug/net8.0/Repository.dll
/Service/bin/Debug/net8.0/Repository.pdb
/Service/bin/Debug/net8.0/Service.dll
/Service/bin/Debug/net8.0/Service.pdb
/Service/obj/Debug/net8.0/ref/Service.dll
/Service/obj/Debug/net8.0/refint/Service.dll
/Service/obj/Debug/net8.0/Service.AssemblyInfo.cs
/Service/obj/Debug/net8.0/Service.AssemblyInfoInputs.cache
/Service/obj/Debug/net8.0/Service.csproj.AssemblyReference.cache
/Repository/bin/Debug/net8.0/Domain.dll
/Repository/bin/Debug/net8.0/Domain.pdb
/Repository/bin/Debug/net8.0/Repository.dll
/Repository/bin/Debug/net8.0/Repository.pdb
/Service/obj/Debug/net8.0/Service.dll
/Service/obj/Debug/net8.0/Service.pdb
/Service/obj/Debug/net8.0/Service.sourcelink.json
/Core/bin/Debug/net8.0/Domain.dll
/Core/obj/Debug/net8.0/Domain.AssemblyInfo.cs
/Core/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
/Core/obj/Debug/net8.0/Domain.sourcelink.json
/Core/obj/Release/net8.0/Domain.AssemblyInfo.cs
/Core/obj/Release/net8.0/Domain.AssemblyInfoInputs.cache
/Core/obj/Release/net8.0/Domain.assets.cache
/Core/obj/Release/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Debug/net8.0/Domain.assets.cache
/Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Release/net8.0/Domain.AssemblyInfo.cs
/Domain/obj/Release/net8.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Release/net8.0/Domain.assets.cache
/Domain/obj/Release/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/frontend/obj/Debug/frontend.esproj.CoreCompileInputs.cache
/frontend/obj/Debug/frontend.esproj.FileListAbsolute.txt
/GameChronicles.Server/bin/Debug/net8.0/Domain.dll
/GameChronicles.Server/bin/Debug/net8.0/Domain.pdb
/GameChronicles.Server/bin/Debug/net8.0/GameChronicles.Server.dll
/GameChronicles.Server/bin/Debug/net8.0/GameChronicles.Server.exe
/GameChronicles.Server/bin/Debug/net8.0/GameChronicles.Server.pdb
/GameChronicles.Server/bin/Debug/net8.0/Repository.dll
/GameChronicles.Server/bin/Debug/net8.0/Repository.pdb
/GameChronicles.Server/bin/Debug/net8.0/Service.dll
/GameChronicles.Server/bin/Debug/net8.0/Service.pdb
/GameChronicles.Server/obj/Debug/net8.0/apphost.exe
/GameChronicles.Server/obj/Debug/net8.0/GameChronicles.Server.csproj.AssemblyReference.cache
/GameChronicles.Server/obj/Debug/net8.0/GameChronicles.Server.dll
/GameChronicles.Server/obj/Debug/net8.0/GameChronicles.Server.MvcApplicationPartsAssemblyInfo.cs
/GameChronicles.Server/obj/Debug/net8.0/GameChronicles.Server.pdb
/GameChronicles.Server/obj/Debug/net8.0/GameChronicles.Server.sourcelink.json
/GameChronicles.Server/obj/Debug/net8.0/ref/GameChronicles.Server.dll
/GameChronicles.Server/obj/Debug/net8.0/refint/GameChronicles.Server.dll
/GameChroniclesAPI/.vs/GameChroniclesAPI/DesignTimeBuild/.dtbcache.v2
/GameChroniclesAPI/.vs/GameChroniclesAPI/FileContentIndex/0cfb2d68-d7f4-436e-9d87-732e42ba50e7.vsidx
/GameChroniclesAPI/.vs/GameChroniclesAPI/FileContentIndex/4ce9b76e-3124-48f0-ae4c-8f2708a16eed.vsidx
/GameChroniclesAPI/.vs/GameChroniclesAPI/FileContentIndex/65a5a14d-63a4-4adc-a17f-a09ce6581ce7.vsidx
/GameChroniclesAPI/.vs/GameChroniclesAPI/v17/.futdcache.v2
/GameChroniclesAPI/.vs/GameChroniclesAPI/v17/.suo
/GameChroniclesAPI/.vs/GameChroniclesAPI/v17/.wsuo
