################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Debug/net8.0/Domain.assets.cache
/Domain/obj/Debug/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Domain/obj/Release/net8.0/Domain.AssemblyInfo.cs
/Domain/obj/Release/net8.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Release/net8.0/Domain.assets.cache
/Domain/obj/Release/net8.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Release/net8.0/Domain.GlobalUsings.g.cs
/GameChronicles.Server/obj/Debug/net8.0/GameChronicles.Server.AssemblyInfo.cs
/GameChronicles.Server/obj/Debug/net8.0/GameChronicles.Server.AssemblyInfoInputs.cache
/GameChronicles.Server/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GameChronicles.Server/obj/Release/net8.0/GameChronicles.Server.AssemblyInfo.cs
/GameChronicles.Server/obj/Release/net8.0/GameChronicles.Server.AssemblyInfoInputs.cache
/GameChronicles.Server/obj/Release/net8.0/GameChronicles.Server.assets.cache
/GameChronicles.Server/obj/Release/net8.0/GameChronicles.Server.csproj.AssemblyReference.cache
/GameChronicles.Server/obj/Release/net8.0/GameChronicles.Server.GeneratedMSBuildEditorConfig.editorconfig
/GameChronicles.Server/obj/Release/net8.0/GameChronicles.Server.GlobalUsings.g.cs
/Repository/obj/Debug/net8.0/Repository.AssemblyInfoInputs.cache
/GameChroniclesAPI/GameChroniclesAPI/obj/Debug/net8.0/GameChroniclesAPI.AssemblyInfo.cs
/GameChroniclesAPI/GameChroniclesAPI/obj/Debug/net8.0/GameChroniclesAPI.AssemblyInfoInputs.cache
/GameChroniclesAPI/GameChroniclesAPI/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/GameChroniclesAPI/GameChroniclesAPI/obj/Release/net8.0/GameChroniclesAPI.AssemblyInfo.cs
/GameChroniclesAPI/GameChroniclesAPI/obj/Release/net8.0/GameChroniclesAPI.AssemblyInfoInputs.cache
/GameChroniclesAPI/GameChroniclesAPI/obj/Release/net8.0/GameChroniclesAPI.assets.cache
/GameChroniclesAPI/GameChroniclesAPI/obj/Release/net8.0/GameChroniclesAPI.csproj.AssemblyReference.cache
/GameChroniclesAPI/GameChroniclesAPI/obj/Release/net8.0/GameChroniclesAPI.GeneratedMSBuildEditorConfig.editorconfig
/Repository/obj/Debug/net8.0/Repository.AssemblyInfo.cs
/Repository/obj/Debug/net8.0/Repository.assets.cache
/Repository/obj/Debug/net8.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
/Repository/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Repository/obj/Release/net8.0/Repository.AssemblyInfo.cs
/Repository/obj/Release/net8.0/Repository.AssemblyInfoInputs.cache
/Repository/obj/Release/net8.0/Repository.assets.cache
/Repository/obj/Release/net8.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
/Repository/obj/Release/net8.0/Repository.GlobalUsings.g.cs
/Service/obj/Debug/net8.0/Service.AssemblyInfo.cs
/Service/obj/Debug/net8.0/Service.AssemblyInfoInputs.cache
/Service/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Service/obj/Release/net8.0/Service.AssemblyInfo.cs
/Service/obj/Release/net8.0/Service.AssemblyInfoInputs.cache
/Service/obj/Release/net8.0/Service.assets.cache
/Service/obj/Release/net8.0/Service.GeneratedMSBuildEditorConfig.editorconfig
/Service/obj/Release/net8.0/Service.GlobalUsings.g.cs
/GameChroniclesAPI/GameChroniclesAPI/obj/Release/net8.0/GameChroniclesAPI.GlobalUsings.g.cs
/.vs/GameChronicles/FileContentIndex/1d28c752-cc3c-4513-853d-10a62cb8ecf1.vsidx
/.vs/GameChronicles/v17/.suo
/.vs/GameChronicles/v17/DocumentLayout.json

